@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

header {
    margin-top: 0px;

}

.skill-table{
    opacity: 0;
    transition: 1s;
}
.show-skill{
    opacity: 1;

}

.text-kiri
{
    opacity: 0;
    transition: 1.5s;
    
}
.text-kanan
{
    opacity: 0;
    transition: 1.5s;

}
.text-muncul-kiri{
    opacity: 1;
}
.text-muncul-kanan{
    opacity: 1;
}

.text-kanan {
    text-align: right;
}

body {
    background-color: #333333;
    font-family: 'Righteous', cursive;
}


.btn-contact {
    height: 90px;
    text-align: center;
    margin-bottom: 20px;

}

.btn-contact li {
    font-size: 60px;
}

.btn-contact:hover {
    -webkit-transform: translate(0px, -5px) scale(1.1);
    transform: translate(0px, -5px) scale(1.1);
    transition: 0;
    transition: 0.2s;
}

.carousel-item {
    height: 300px;
}

.img-1 {
    background-image: url('../img/sertifikat.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.img-2 {
    background-image: url('../img/sertifikat2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.img-3 {
    background-image: url('../img/sertifikat3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

#about .container .row .col-md-5 {
    color: white;

}

#home .jumbotron {
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    box-shadow: 0 0rem 0rem rgb(0 0 0 / 0%) !important;

}

#home .jumbotron img {
    margin-top: 200px;
}

#home .jumbotron .h1 {
    font-family: 'Righteous', cursive;
    color: white;

}

#home .jumbotron .h5 {
    font-family: 'Righteous', cursive;
    color: white;

}

.jumbotron {
    background-color: #343a40;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

}

.col-lg-9 p {
    color: white;

}

.card:hover {
    -webkit-transform: translate(0px, -5px) scale(1.1);
    transform: translate(0px, -5px) scale(1.1);
    transition: 0;
}

.card {
    background-color: #343a40;
    color: white;
    transform: scale(0);
}

.card-muncul {
    transform: scale(1);

    transition: 0.25s;
}

.display-none {
    display: none;
}

.garis-bawah {
    border-bottom: 2px solid white;
}

body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}
footer{
    background-color: #343a40;
}
.active-skill,
.list-group-item:hover {
    background-color: #007bff;
    color: white;
}

.active {
    background-color: #007bff;
    -webkit-transform: translate(0px, -5px) scale(1.2);
    transform: translate(0px, -5px) scale(1.2);

}

.nav-link:hover {
    -webkit-transform: translate(0px, -5px) scale(1.2);
    transform: translate(0px, -5px) scale(1.2);


}

#nav-mobile {
    display: none;
}

.fa {
    color: white;
    font-size: 25px;
}


@media (max-width: 1184px) {
    .carousel-item {
        height: 530px;
    }

}

@media (max-width: 992px) {
    .carousel-item {
        height: 390px;
    }

    #nav {
        display: none;
    }

    #nav-mobile {
        display: block;
    }

    header {
        margin-top: 0px;
    }

}


@media (max-width: 768px) {
    .carousel-item {
        height: 390px;
    }

    #skill-info {
        box-shadow: 0 0rem 0rem rgb(0 0 0 / 0%) !important;
    }

    #home .jumbotron {
        background-size: 60rem;
        height: 400px;
    }

    #home .jumbotron img {
        margin-top: 140px;
    }

    #copyright {
        text-align: center;
    }

    .btn-contact {
        height: 60px;
        text-align: center;
        margin-bottom: 20px;

    }

    .btn-contact li {
        font-size: 27px;
    }

}

@media(max-width: 752px) {
    .carousel-item {
        height: 278px;
    }

    .text-kanan,
    .text-kiri {
        text-align: center;
    }


}

@media (max-width: 500px) {
    .carousel-item {
        height: 270px;
    }

}

@media (max-width: 441px) {
    .carousel-item {
        height: 220px;
    }

    #home .jumbotron {
        background-size: 50rem;
        height: 400px;
    }

    #home .jumbotron img {
        margin-top: 140px;
    }

    #comming-soon {
        display: none;
    }

    #copyright {
        font-size: 15px;
    }

    .jumbotron {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0rem 0rem rgb(0 0 0 / 0%) !important;
    }
    body{
        background-color: #2E2E2E;
    }
    


}

@media (max-width: 375px) {
    .carousel-item {
        height: 190px;
    }

}

@media (max-width: 320px) {

    .carousel-item {
        height: 170px;
    }

}